{% extends 'navbar.html' %}
{% block content %}
<h2 align="center">Display Books</h2>
<table align="center" class="table">
  <tr>
    <td>Id</td>
    <td>Bookname</td>
    <td>Authorname</td>
    <td>Course</td>
    <td>update</td>
    <td>Delete</td>
  </tr>
  <tr>
    {% for i in books %}
    <td>{{ i.id }}</td>
    <td>{{ i.Book_name }}</td>
    <td>{{ i.Author_name }}</td>
    <td>{{ i.Course_id }}</td>
    <td><a href="{% url 'up' i.id %}">Update</a></td>
    <td><a href="{% url 'del' i.id %}">Delete</a></td>
  </tr>
  {% endfor %}

</table>
{% endblock %}