{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link href="{% static 'css/log.css' %}" rel="stylesheet">
</head>
<body>
<form action="log_read" method="post">
    {% csrf_token %}
    <h2 align="center"> Login Page</h2>
    <table align="center">
        <tr>
            <td>User Name:</td>
            <td><input type="text" name="txtname"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="txtpwrd"></td>
        </tr>
        <tr>
            <td><input type="submit" name="btnsubmit" value="Login"></td>
        </tr>
        <tr>
       <td><a href="{% url 'adreg' %}">Admin signup</a></td>
        <td><a href="{% url 'stureg' %}">Student signup</a></td>
        </tr>
    </table>
    <h2 align="center" style="color:red">{{ data }}</h2>
</form>

</body>
</html>